@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/header.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sides.css" />
</head>

<header class="ghead">
    <div class="gains">
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="v1">v1</h1>
    </div>
    <div class="links">
        <a class="github" asp-controller="Exercise" asp-action="Home"><i>Workout</i></a>
        <a class="github" asp-controller="Exercise" asp-action="Catalog"><i>Catalog</i></a>
        <a class="github" asp-controller="Exercise" asp-action="Index"><i>Index</i></a>
        <a class="github" href="https://github.com/Geordie404/GainsIndex-v1">Git</a>
    </div>
    </div>
</header>
<br>

<div class ="container">
    <p>This is a paired programming collaboration between two weight-lifting enthusiast wanting to refine both their coding skills and productivity in the gym! - <a href="https://github.com/Geordie404/GainsIndex-v1">GitHub</a></p>

    <h5>~ a little about us ~</h5>

    <p><a href="https://github.com/Almondflour2">Isabella</a> - Graduate of the <a href="https://www.codelouisville.org">Code Louisville</a> "Software Development with C#" certification program who is also currently working on her certification in User Experience Design. She graduated from University of Louisville's Hite Institute of Art and Design with her BFA in 2D Art. She is looking to find her first position in her tech career. </p>
    <p><a href="https://github.com/Geordie404">Geordie</a> - Graduate of University of Louisville's J.B. Speed School of Engineering with a BA in Computer Science and Engineering looking to return to the tech industry after shifting focus during the pandemic. With work experience in both frontend and backend code and interest in all parts of the stack, he is open to whatever direction a new opportunity within the industry takes him. </p>

    <h5>~ project details ~</h5>

    <p><b>Gains Index - v1</b> is a mobile web application designed to make keeping track of our daily gym outings easier. With a home page that displays what exercises we have on any given day, a catalog with easy-to-use pages for logging and editing existing lifts as well as adding new ones, and detail pages giving more in-depth information about each, we priotitized developing something both user friendly and personalized. We decided on the parts of the software stack based on Bella's learnings from her recent certification as well as some technologies we both wanted to gain hands-on experience with.

    <h5>~ the software stack ~</h5>

    <table>
        <tr>
            <td><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET Model View Controller</a>&nbsp&nbsp</td>
            <td>Web Development Framework</td>
        </tr>
        <tr>
            <td>[Model] SQLite</td>
            <td>Database Model</td>
        </tr>
        <tr>
            <td>[View] HTML & CSS + JQuery</td>
            <td>Frontend UI</td>
        </tr>
        <tr>
            <td>[Controller] C#</td>
            <td>Data Access and Application Flow</td>
        </tr>
        <tr>
            <td><a href="https://www.halldorstefans.com/using-sqlite-in-net-core-azure-web-app/">Microsoft Azure</a></td>
            <td>Cloud Publishing</td>
        </tr>
        <tr>
            <td><a href="https://github.com/Geordie404/GainsIndex-v1">GitHub</a></td>
            <td>Version Control and Workflow</td>
        </tr>
    </table>
    <br>

    <h5>~ plans for v2 ~</h5>

    <ul>
    <li>Add page for users that arent Isabella or Geordie to track their own custom workouts</li>
    <li>Change Model to support one-to-many relationships for more straight forward functionality</li>
    <li>Migrate from SQLite to SQL Server</li>
    <li>Add more features to UI such as: </li>
        <ul>
            <li>Stopwatch for sets and rest periods on each exercise</li>
            <li>Workout Progress Display</li>
            <li>Automatic logging based on user-input working weight</li>
        </ul>
    </ul>
</div>