@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     @if (User.Identity.IsAuthenticated)
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Exercise" asp-action="Home"><h1>【 ｇａｉｎｓ　ｉｎｄｅｘ】</h1></a>
    } else {
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-dark display-6" asp-area="" 
             asp-controller="Account" 
             asp-action="Login">Login</a>
        </li>
      </ul>
      }

</div