@model IEnumerable<Exercise>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/home.css" />
</head>

<h1><i>Catalogue</i></h1>
<img src="https://img.pokemondb.net/sprites/sword-shield/icon/wobbuffet.png">


@* Search Bar for Exercise Name *@

<form asp-action="Catalog" method="get">
    <div class="form-actions no-color">
        <p>
            Exercise Name: <input type="text" name="name_filter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Catalog">Back to Full List</a>
        </p>
    </div>
</form>

@* Geo or bella drop down *@

<form asp-action="Catalog" method="get">
    <div class="form-actions no-color">
        <p>
            Person Filter: <select name="active_filter">
                <option value="bella">bella</option>
                <option value="geo">geo</option>
                </select>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Catalog">Back to Full List</a>
        </p>
    </div>
</form>


@foreach (var item in Model) {
    <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
    </div>
}