@model Exercise

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sides.css" />
</head>

<div class="container">
<h1>Delete&nbsp @Html.DisplayFor(model => model.exercise_name)? </h1>

<div>
        @* TABLE FOR DAYS *@
    <table class="daytable table">
        <thead>
            <tr>
                <th></th><th>M</th><th>T</th><th>W</th><th>Th</th><th>F</th><th>Wknd</th>
            </tr>
        </thead>
        <tbody>
            @* Row for Bella *@
            <tr>
                <td>
                    Bella
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_monday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_tuesday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_wednesday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_thursday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_friday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_weekend"/>
                    </label></div>
                </td>
            </tr>
            @* Row for Geo *@
            <tr>
                <td>
                    Geo
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_monday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_tuesday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_wednesday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_thursday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_friday"/>
                    </label></div>
                </td>
                <td>
                    <div class="form-group form-check"> 
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_weekend"/>
                    </label></div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />&nbsp
        <a asp-action="Index" class="btn btn-primary">Cancel</a>&nbsp
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.id">Edit</a>&nbsp
    </form>
    
</div>
</div>
