@model Exercise

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="exercise_name" class="control-label"></label>
                <input asp-for="exercise_name" class="form-control" />
                <span asp-validation-for="exercise_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="details" class="control-label"></label>
                <input asp-for="details" class="form-control" />
                <span asp-validation-for="details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ww_bella" class="control-label"></label>
                <input asp-for="ww_bella" class="form-control" />
                <span asp-validation-for="ww_bella" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ww_geo" class="control-label"></label>
                <input asp-for="ww_geo" class="form-control" />
                <span asp-validation-for="ww_geo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="target_muscle" class="control-label"></label>
                <input asp-for="target_muscle" class="form-control" />
                <span asp-validation-for="target_muscle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sets" class="control-label"></label>
                <input asp-for="sets" class="form-control" />
                <span asp-validation-for="sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reps" class="control-label"></label>
                <input asp-for="reps" class="form-control" />
                <span asp-validation-for="reps" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_active" /> @Html.DisplayNameFor(model => model.is_active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

