@model IEnumerable<Exercise>

@* WORK OUT INDEX - HOME PAGE *@

@{
    ViewData["Title"] = "GAINS INDEX";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/home.css" />
</head>

<header>
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="bark">version 1</h1>
    </div>
    <p class="desc">track your workout routines</p>
    <a href="https://github.com/Geordie404/GainsIndex-v1"><p class="github">github repo</p></a>
</header>

<div class="woibox">
@foreach (var item in Model) {
    <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
            
    </div>
}
</div>