@model IEnumerable<Exercise>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/header.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
</head>

<header class="ghead">
    <div class="gains">
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="v1">v1</h1>
    </div>
    <div class="links">
        <a class="github" asp-controller="Exercise" asp-action="Home"><i>Workout</i></a>
        <a class="github" asp-controller="Exercise" asp-action="Catalog"><i>Catalog</i></a>
        <a class="github" asp-controller="Home" asp-action="About"><i>About</i></a>
        <a class="github" href="https://github.com/Geordie404/GainsIndex-v1">Git</a>
    </div>
    </div>
</header>

<div class="container">
<a class="btn btn-primary" asp-action="Create" style="float: right;">New Exercise</a>
<table class="table" cellspacing="0" cellpadding="0">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exercise_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>&nbsp
                <a asp-action="Details" asp-route-id="@item.id">Details</a>&nbsp
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>&nbsp
            </td>
        </tr>
}
    </tbody>
</table>
</div>